<!DOCTYPE html>
<html lang="en"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
</head>
<body hx-ext="client-side-templates">
    <h3>Directory Contents: /app/stuff</h3>
    <pre>
    {{ range . }}
        {{- printf "%-11s %12d %-16s " .Mode .Size .ModTime -}}
        <a href="/media/{{ .Name }}" style="color: #0000FF; text-decoration: none;">
            {{- .Name -}}
        </a>
    {{ end }}
    </pre>
</body>
</html>
