<!DOCTYPE html>
<html lang="en">
<head>
<style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden; 
            background-color: #000; 
        }

        #video-container {
            width: 100vw;
            height: 100vh;
            display: flex; 
            justify-content: center;
            align-items: center;
        }

        #video-player {
            width: 100% !important;
            height: 100% !important;
        }
    </style>
</head>
<body>
    
    <div id="video-container">
        <video id="video-player" class="video-js vjs-fill" preload="none" controls muted="muted" poster="" 
            data-setup='{
             "playbackRates": [1, 1.25, 1.5, 2, 5],
             "controlBar": {
               "skipButtons": {
                 "backward": 10,
                 "forward": 10
               }
             }
            }'>
            <source id="video-source" type="video/mp4" src="http://127.0.0.1:8080/stream-video{{ .path }}" />
        </video>
    </div>

</body>
</html>
